<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<title>Home Page</title>
<style>
table.center {
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>
	<form action="forecast" method="get">
		<table class="center">
			<tr>
				<td><label for="city-name">City Name</label></td>
				<td><input type="text" name="city" required="required" id="city" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
				<td><input type="reset" value="Clear" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
