<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<title>Weather Forecast Average Details</title>
<style>
table.center {
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 2px solid black;
	border-style: solid;
	border-collapse: collapse;
	border-color: #96D4D4;
}

th, td {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 40px;
}
</style>
</head>
<body>
<table class="center">
	<tbody>
		<tr>
			<th rowspan="2">Date</th>
			<th colspan="3">Temperature (Average)</th>
			<th colspan="2">Wind Speed (Average)</th>
		</tr>
		<tr>
			<th>Daily</th>
			<th>Nightly</th>
			<th>Pressure</th>
			<th>Daily</th>
			<th>Nightly</th>
		</tr>
		<tr th:each="weather: ${weatherDetails}">
			<td th:text="${weather.date}" />
			<td th:text="${weather.daily}" />
			<td th:text="${weather.nightly}" />
			<td th:text="${weather.pressure}" />
			<td th:text="${weather.windDaily}" />
			<td th:text="${weather.windNightly}" />
		</tr>
	</tbody>
</table>

<br />
<br />
<br />
<br />
<p align="center" th:text="${weatherMsg}" />
</body>
</html>
